<section class="row">
  <div class="col s12">
    <h2>Cupcakes</h2>
  </div>
</section>
<section class="row">
  <div class="col s12 m8">
    {{#each model as |cupcake|}}
      <div class="row">
        <div class="col s12">
          <h2 class="header">{{#link-to 'cupcake' cupcake.id}}{{cupcake.title}}{{/link-to}}</h2>
          <div class="card horizontal row">
            <div class="card-image col s4 m2">
              <img src={{cupcake.thumbnail}}>
            </div>
            <div class="card-stacked col s8 m10">
              <div class="card-content">
                <p>{{cupcake.text}}</p>
              </div>
              <div class="card-action">
                <a href="#">Rating: {{summaryRating}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col s12 m4">
    <div class="card red white-text">
      <div class="row">
        <div class="col s10 offset-s1">
          <h3>Sidebar</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{{outlet}}
